@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #202733;
    font-weight: 800;
}

main {
    background-color: #313A48;
    border-radius: 15px;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    padding: 0 25px;
    text-align: center;
}

main h1 {
    color: #53FFAA;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 4px;
    margin-top: 40px;
}

main blockquote p {
    color: #CEE3E9;
    line-height: 32px;
    font-size: 24px;
    padding: 25px;
}

main picture img {
    width: 100%;
}

.dice-wrapper {
    display: inline-block;
    background-color: #53FFAA;
    padding: 20px;
    transform: translateY(50%);
    border-radius: 50%;
    height: 64px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 540px;
    }
    main h1 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 48px;
    }
    
    main blockquote p {
        line-height: 38px;
        font-size: 28px;
    }
  }